Repository vivitek/backend, pull requests merged in 2020-04, with the labels that each got.

#26 Fix non working tests
  server/package-lock.json
  server/routes/bans.js
  server/tests/router.test.js
Labels: WIP, test

#29 Feature/amqp over sockets
  README.md
  docker-compose.yml
  server/.eslintrc.json
  server/db.js
  server/index.js
  server/jest-mongodb-config.js
  server/jest.config.js
  server/messages/index.js
  server/middleware.js
  server/models/Ban.js
  server/models/Config.js
  server/models/Router.js
  server/models/Service.js
  server/models/User.js
  server/package.json
  server/routes/auth.js
  server/routes/bans.js
  server/routes/config.js
  server/routes/router.js
  server/routes/service.js
  server/server.js
  server/socketType.js
  server/sockets/entrypoint.js
  server/sockets/firewall.js
  server/sockets/mobile.js
  server/sockets/router.js
  server/sse/index.js
  testers/sse.html
Labels: WIP

#28 Coverall improvement
  server/middleware.js
  server/routes/bans.js
  server/tests/middleware.test.js
  server/tests/routes/ban.service.route.test.js
Labels: test
